$blue-theme: ​#007bc1;
$darkblue-theme: ​#004a75;
$orange-theme: ​#ff8000;
$darkorange-theme: ​#cc6600;
$smokegrey-theme: ​#e5e5e5;


h1 {
    color: Green;
    text-align: center;
    margin: auto;
    font-size: 12em;
    padding-top: 20%;
  
  }

@function border($color) {
  @return 3px solid $color
}

@keyframes notif-frame {
  from {
    min-height: 5em;
    flex-wrap: wrap;
    justify-content: center;
    left:0px;
    top:-80px;
  }
  to {
    min-height: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    left:0px; 
    top:0px;
  }
}



@keyframes news-frame {
  from {
    min-height: 15em;
    left:0px;
    bottom:-300px;
  }
  to {
    min-height: 15em;
    left:0px; 
    bottom:0px;
  }
}

@keyframes news-frame-close {
  from {
    min-height: 15em;
    left:0px;
    bottom:0px;
  }
  to {
    min-height: 15em;
    left:0px; 
    bottom:-300px;
  }
}

#app {
  padding: 0em;
}

body {
  padding-bottom: 0em;
}


p.footer{
  text-align: left;
  margin-left: 0em;
  padding-right: 0em;
  color: white;

}

p.newsletter-par {
  font-size: 16px;
  margin-right: 2.5em;
  //border: border(red);
}

p.top-panel-text {
  width: 650px;
  //border: border(red);
  text-align: left;
  color: black;
}

button {
  margin-right: 2em;
  height: 3em;
  width: 60px;
  
}

button.orange {
  background-color: rgb(248, 184, 7);
  color: white;
  height: 2.5em;
  min-width: 8em;
  

}


h4 {
  text-align: left;
  padding-left: 0em;
  
}

h4.page-header {
  text-align: center;
  margin-bottom: 0em;
  //float:left;  
}


h3 {
  color: white;
  .title-header {
    margin:13em;
  }
  
}

h2.newsletter {
  
  margin-top: 1em;
  //border: border(white);
}


.top-panel {
  text-align: left;
  margin-right: 1em;
  float: left;
  color: black;
}
.center-text {
  text-align: center;
}
a {
  color: $darkblue-theme;

}

i { 
  margin-top: 0.7em;
}

input.sized {
  width: 19.55em;
  flex-grow: 3;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}



div {
  padding: 1em;
  //border: border(black);
  margin: 0em;
  

  .main-page {
    padding: 0em;
  //  border: border(red);
    display: flex;
    flex-direction: column;
    margin-top: 0em;

  }


  .notif-panel {
    //border: border(brown);
    background-color: #e5e5e5;
    min-height: 5em;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
  }

  .notif-panel-clicked {
    position: relative;
    animation-name: notif-frame;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    margin: 0em;
    padding: 0em;
    //border: border(blue)
     
  }

  .notif-panel-before-clicked {
    margin: 0em;
    padding: 0em;
    top: 0;
    //border: border(red);
 
  }
  
  .background-color {
    background-color: rgba(0, 74, 117, 0.3);
    height: 54em;
    margin: 0em;
    padding:0em;
    color: white;
  }

  .logo{
    background-image: url('../images/y-logo-white70px.png');
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    //border: border(green);
    margin: 5em 1em 1em 1em;
  }
  .img {
    //background-color: rgba(0, 0, 255, 0.8);
    max-width: 1920px;
    background-image: url('../images/work-desk-pict.jpg');
    min-height: 54em;
    padding: 0em;
    
  }

  .text-header {
    margin-top: 8em;
  }

  .contact-button {
    border: 1px solid white;
    color: white;
    height:3.5em;
    width: 11em;
    margin: auto;
    margin-top: 2em;
  }

  .contact-button:hover {
    background-color: white;
    color: #007bc1;
    height:3.5em;
    width: 11em;
    margin: auto;
    margin-top: 2em;
  }

  .highlight-container {
    //border: border(black);
    background-color: #e5e5e5;
    min-height: 45em;

  }

  .highlight-header {
    height: 14em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
  .highlight-section {
    display: flex;
    flex-wrap: wrap;
  }

  .section-box {
    background-color: #e5e5e5;
    width: 32.2em;
    margin: 1em;
    height: 12em;
    border: 2px groove #e5e5e5;
    
  }

  .section-head {
    margin: 0em;
    padding-top: 0;
    padding-left: 0em;
    //border: border(black);
    height: 3em;
    display: flex;
    justify-content: space-between;
  }
  

  .page-footer {
    background-color: #002f4b;
    height: 5em;
    padding-left: 3em;
    padding-top: 2em;
    margin-bottom: 0em;

  }

    

  .newsletter-panel {
    padding: 0em;
    color: white;
    position: fixed;
    bottom: 0;
    left:0;
    min-height: 15em;
    max-width: 640px;
    background-color: RGBA(0,139,212,0.76)
  
  
  }

  .newsletter-slide-up {

    animation-name: news-frame;
    animation-duration: 2s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    margin: 0em;
    padding-left: 2em;
    padding-right: 0.5em;
      //border: border(blue)
       
    

  }

  .newsletter-slide-down {

    animation-name: news-frame-close;
    animation-duration: 2s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    margin: 0em;
    padding-left: 2em;
    padding-right: 0.5em;
    //border: border(blue)

  }

  .newsletter-hidden {
    padding-top: 0em;
    padding-left: 2em;
    padding-right: 0.5em;
    color: white;
    position: fixed;
    bottom:        0;
    left:0;
    height: 15em;
    max-width: 640px;
    background-color: RGBA(0,139,212,0.76)
 

  }

  .close {
    margin: 0.5em;
    padding: 0em;
    color: white;
    //border: 1px solid white;
    
  }

  .form-email {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0em;
    padding-left:0em;
    margin-right: 2.5em;
  }


  
}