$blue-theme: ​#007bc1;
$darkblue-theme: ​#004a75;
$orange-theme: ​#ff8000;
$darkorange-theme: ​#cc6600;
$smokegrey-theme: ​#e5e5e5;


h1 {
    color: Green;
    text-align: center;
    margin: auto;
    font-size: 12em;
    padding-top: 20%;
  
  }

@function border($color) {
  @return 3px solid $color
}

#app {
  padding: 0em;
}



p.footer{
  text-align: left;
  color: white;

}

button {
  margin-right: 2em;
  height: 3em;
  width: 4em;
  
}

article {
  //margin-top: 2em;
}

h4 {
  text-align: left;
  padding-left: 0em;
  
}

h4.page-header {
  text-align: center;
  margin-bottom: 0em;
  //float:left;  
}


h3 {
  color: white;
  .title-header {
    margin:13em;
  }
}


.top-panel {
  text-align: left;
  margin-right: 1em;
  float: left;
}
.center-text {
  text-align: center;
}
a {
  color: $darkblue-theme;

}

i { 
  margin-top: 0.7em;
}



div {
  padding: 1em;
  //border: border(black);
  margin: 0em;
  

  .main-page {
    padding: 0em;
  //  border: border(red);
    display: flex;
    flex-direction: column;
    margin-top: 0em;

  }


  .notif-panel {
    //border: border(brown);
    background-color: #e5e5e5;
    min-height: 5em;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  .background-color {
    background-color: rgba(0, 74, 117, 0.5);
    height: 44em;
    margin: 0em;
    padding-top:1em;
    color: white;
  }

  .logo{
    background-image: url('../images/y-logo-white70px.png');
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
  }
  .img {
    //background-color: rgba(0, 0, 255, 0.8);
    max-width: 1920px;
    background-image: url('../images/work-desk-pict.jpg');
    min-height: 44em;
    padding: 0em;
    
  }

  .text-header {
    margin-top: 8em;
  }

  .contact-button {
    border: 1px solid white;
    color: white;
    height:3.5em;
    width: 11em;
    margin: auto;
    margin-top: 2em;
  }

  .contact-button:hover {
    background-color: white;
    color: #007bc1;
    height:3.5em;
    width: 11em;
    margin: auto;
    margin-top: 2em;
  }

  .highlight-container {
    //border: border(black);
    background-color: #e5e5e5;
    min-height: 45em;

  }

  .highlight-header {
    height: 14em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
  .highlight-section {
    display: flex;
    flex-wrap: wrap;
  }

  .section-box {
    background-color: #e5e5e5;
    width: 32.2em;
    margin: 1em;
    height: 12em;
    border: 2px groove #e5e5e5;
    
  }

  .section-head {
    margin: 0em;
    padding-top: 0;
    padding-left: 0em;
    //border: border(black);
    height: 3em;
    display: flex;
    justify-content: space-between;
  }
  

  .page-footer {
    background-color: #002f4b;
    height: 5m;
    padding-left: 3em;
    padding-top: 2em;
  }
}